/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout principale */
.container {
	width: 100%;
	margin: 20px auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

[class*='col-'] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #006cfa;
    color: white;
    min-height: 40px;
    border: 1px solid white;
}

.nested-green {
    background-color: #00e165;
    color: white;
    border-color: #006cfa;
}

.container > h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}